<div class="container">
  <h1>Sopping List</h1>
  <div class="flex">
    <div>
      <p>Ammount of food to buy:</p>
      <p>Total value of food needed:</p>
    </div>
    <div>
      <p>Recipe:</p>
      <p>Inventory:</p>
    </div>
  </div>
  <!--- table having foo quantity and price -->
  <div class="table-border">
  <!--% .each do %-->
    <div class="table-row">
      <div class="food-cell"> food.name </div>
      <div class="quantity-cell">Quantity -unit-</div>
      <div class="price-cell">Price$</div>
    </div>
  <!--% end %-->
  </div>
</div>